* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffcc00; /* base miel */
    background-image:
        radial-gradient(circle at 10px 10px, #ffb703 2%, transparent 0),
        radial-gradient(circle at 30px 30px, #ffb703 2%, transparent 0);
    background-size: 40px 40px; /* patrón panal */
}

/* Caja de login */
.wrapper {
    width: 420px;
    background: rgba(255, 204, 0, 0.9);
    border: 2px solid #000;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    color: #000;
    border-radius: 15px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center; 
    color: #000;
}

/* Inputs */
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #fff8;
    border: 2px solid #000;
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
    outline: none;
}

.input-box input::placeholder {
    color: #333;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000;
}

/* Recordarme / Olvidar */
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
    color: #000;
}

.remember-forgot label input {
    accent-color: #000;
    margin-right: 3px;
}

.remember-forgot a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Botón */
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 16px;
    color: #ffcc00;
    font-weight: 600;
    transition: 0.3s;
}

.wrapper .btn:hover {
    background: #222;
}

/* Registrar link */
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: #000;
}

.register-link p a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.register-link p a:hover {
    text-decoration: underline;
}
